In [4]:
# Import libraries and dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime, Float
import psycopg2
from config.py import sql_engine

ModuleNotFoundError: No module named 'config'

In [2]:
# sql_engine = create_engine('postgresql://postgres:postgres@localhost:5432/sqlchallenge_db')

In [3]:
query = 'select * from dept_manager'
df = pd.read_sql_query(query,sql_engine)
df.head()

  dept_no  emp_no
0    d001  110022
1    d001  110039
2    d002  110085
3    d002  110114
4    d003  110183